<aside class="sidebar">
    <div class="logo">
      <img class="logo_img" src="assets/Images/Logo.png" alt="Company Logo">
    </div>
  
    <nav>
      <ul>
        <li routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span>Dashboard</span>
        </li>
        <li routerLink="/items" routerLinkActive="active">
          <i class="fas fa-boxes"></i>
          <span>Items</span>
        </li>
        <li routerLink="/issue-items" routerLinkActive="active">
          <i class="fas fa-share-square"></i>
          <span>Issue Items</span>
        </li>
        <li routerLink="/reports" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          <span>Reports</span>
        </li>
      </ul>
    </nav>
  </aside>
  